@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

.wrapper {
  max-width: 1440px;
  padding: 10px;
  margin: 0 auto;
}

.wrapper-start {
  font-family: "Shadows Into Light", cursive;
  max-width: 900px;
  height: 80vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  background: url("/images/start_bg_girl.png") #000000 center center no-repeat;
  background-size: contain;
}

.wrapper-start .intro {
  color: white;
  display: block;
  justify-self: center;
  align-self: center;
}

.wrapper-start span {
  font-size: 28px;
  color: #e3342f;
}

.glitch {
  position: relative;
  justify-self: center;
  align-self: center;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.11);
  color: #fff;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  left: 7px;
  text-shadow: 1px 0 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

.glitch:hover {
  transform: scale(1.2);
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(56px, 9999px, 81px, 0);
  }

  5% {
    clip: rect(77px, 9999px, 70px, 0);
  }

  10% {
    clip: rect(99px, 9999px, 57px, 0);
  }

  15% {
    clip: rect(18px, 9999px, 56px, 0);
  }

  20% {
    clip: rect(64px, 9999px, 27px, 0);
  }

  25% {
    clip: rect(88px, 9999px, 41px, 0);
  }

  30% {
    clip: rect(70px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(2px, 9999px, 37px, 0);
  }

  40% {
    clip: rect(38px, 9999px, 16px, 0);
  }

  45% {
    clip: rect(88px, 9999px, 1px, 0);
  }

  50% {
    clip: rect(34px, 9999px, 36px, 0);
  }

  55% {
    clip: rect(14px, 9999px, 51px, 0);
  }

  60% {
    clip: rect(72px, 9999px, 17px, 0);
  }

  65% {
    clip: rect(74px, 9999px, 68px, 0);
  }

  70% {
    clip: rect(100px, 9999px, 37px, 0);
  }

  75% {
    clip: rect(100px, 9999px, 19px, 0);
  }

  80% {
    clip: rect(66px, 9999px, 12px, 0);
  }

  85% {
    clip: rect(69px, 9999px, 68px, 0);
  }

  90% {
    clip: rect(67px, 9999px, 87px, 0);
  }

  95% {
    clip: rect(32px, 9999px, 60px, 0);
  }

  100% {
    clip: rect(7px, 9999px, 61px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(56px, 9999px, 81px, 0);
  }

  5% {
    clip: rect(77px, 9999px, 70px, 0);
  }

  10% {
    clip: rect(99px, 9999px, 57px, 0);
  }

  15% {
    clip: rect(18px, 9999px, 56px, 0);
  }

  20% {
    clip: rect(64px, 9999px, 27px, 0);
  }

  25% {
    clip: rect(88px, 9999px, 41px, 0);
  }

  30% {
    clip: rect(70px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(2px, 9999px, 37px, 0);
  }

  40% {
    clip: rect(38px, 9999px, 16px, 0);
  }

  45% {
    clip: rect(88px, 9999px, 1px, 0);
  }

  50% {
    clip: rect(34px, 9999px, 36px, 0);
  }

  55% {
    clip: rect(14px, 9999px, 51px, 0);
  }

  60% {
    clip: rect(72px, 9999px, 17px, 0);
  }

  65% {
    clip: rect(74px, 9999px, 68px, 0);
  }

  70% {
    clip: rect(100px, 9999px, 37px, 0);
  }

  75% {
    clip: rect(100px, 9999px, 19px, 0);
  }

  80% {
    clip: rect(66px, 9999px, 12px, 0);
  }

  85% {
    clip: rect(69px, 9999px, 68px, 0);
  }

  90% {
    clip: rect(67px, 9999px, 87px, 0);
  }

  95% {
    clip: rect(32px, 9999px, 60px, 0);
  }

  100% {
    clip: rect(7px, 9999px, 61px, 0);
  }
}

/*header*/

.site-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
  height: 70px;
  background-color: #000000;
  /*Logo*/
  /*Navigation*/
}

.site-header .site-logo {
  display: block;
  text-transform: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.site-header .site-logo-link {
  text-decoration: none;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  align-self: center;
}

.site-header h1 {
  margin: 0;
  padding: 0;
  align-self: center;
  color: #f2f2ff;
}

.site-header .site-logo-img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.site-header .site-navigation {
  text-align: right;
  align-self: center;
}

.site-header a {
  color: #f2f2ff;
  text-decoration: none;
}

.site-header .navigation-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.site-header .navigation-list-item {
  display: block;
  padding: 0 12px;
}

.site-footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.site-footer .info-box {
  text-align: right;
}

.site-footer ul {
  list-style: none;
}

.site-footer a {
  color: white;
}

.container-video {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

#Story-Line_Video {
  width: 100%;
  height: 100%;
}

.question {
  grid-area: question;
  color: #f2f2f2;
  margin-top: 100px;
  font-size: 28px;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.responseOne,
.responseTwo {
  display: inline-block;
  align-self: center;
  margin: 0 40px;
}

.responseOne {
  grid-area: responseOne;
}

.responseTwo {
  grid-area: responseTwo;
}

.responseBtn {
  cursor: pointer;
  display: inline;
  position: relative;
  padding: 20px 40px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

.responseBtn:hover {
  border: none;
}

.responseBtn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}

.responseBtn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}

.responseBtn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}

.responseBtn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}

.line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}

.line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}

.line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}

.line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

.video-container-grid {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "top" "middle" "bottom";
  background-color: rgba(0, 0, 0, 0.99);
}

.top {
  grid-area: top;
}

.middle {
  grid-area: middle;
  display: grid;
}

.middle .storyLineContinue {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.middle .storyLineContinue .responseBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  justify-self: center;
}

.middle .middle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  grid-template-areas: "question question" "responseOne responseTwo";
}

.middle .question {
  grid-area: question;
}

.middle .responseOne {
  grid-area: responseOne;
  justify-self: end;
}

.middle .responseTwo {
  justify-self: start;
  grid-area: responseTwo;
}

.bottom {
  grid-area: bottom;
  align-self: end;
}

img {
  display: block;
}

.score-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "infected statistics dead";
  color: white;
  font-size: 40px;
}

.score-board .infected {
  grid-area: infected;
  justify-self: start;
  margin-left: 20px;
}

.score-board .statistics {
  align-self: end;
  grid-area: statistics;
  justify-self: center;
}

.score-board .dead {
  grid-area: dead;
  justify-self: right;
  margin-right: 20px;
}

.score-board span {
  display: block;
  background-color: #222;
  padding: 5px 10px;
}

